<div class="">

    <div class="perfil">
        <div class="perfil-imagem">
            <button>

            </button>
            <img src="../../../../assets/imagem/imagem-perfil.png" class="img-fluid img-thumbnail" alt="...">
        </div>
    </div>


    <div class="info-do-usuario">
        <div class="nome-do-usuario">
            <h3 class="text-center">Nome do Usuário</h3>
        </div>

        <ul class="text-center">
            <li>
                <p>Eng. Aerounáutica</p>
            </li>
            <li>
                <p>Level 21</p>
            </li>
            <li>
                <p>Maga</p>
            </li>
        </ul>
    </div>

    <!-- SKILLS -->

    <div class="skills">
        <div class="skills-quadro">
            <div class="skills-titulo">
                <h3 class="text-center">Skills</h3>
            </div>
            <div class="text-center">
                <h4 class="skills-categoria">Técnicas</h4>
            </div>
            <div>
                <ul>
                    <li>
                        <div>
                            <label for="">Métodos Ágeis</label>
                            <div>
                                <button data-controle="-">
                                    <img src="../../../../assets/imagem/seta esquerda.svg">
                                </button>
                                <input type="text" class="controle-contador" value="0" data-contador>
                                <button data-controle="+">
                                    <img src="../../../../assets/imagem/seta direita.svg">
                                </button>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="">Pacote Office</label>
                            <div>
                                <button data-controle="-">
                                    <img src="../../../../assets/imagem/seta esquerda.svg">
                                </button>
                                <input type="text" class="controle-contador" value="0" data-contador>
                                <button data-controle="+">
                                    <img src="../../../../assets/imagem/seta direita.svg">
                                </button>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="">Programação Básica</label>
                            <div>
                                <button data-controle="-">
                                    <img src="../../../../assets/imagem/seta esquerda.svg">
                                </button>
                                <input type="text" class="controle-contador" value="0" data-contador>
                                <button data-controle="+">
                                    <img src="../../../../assets/imagem/seta direita.svg">
                                </button>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="">Backend</label>
                            <div>
                                <button data-controle="-">
                                    <img src="../../../../assets/imagem/seta esquerda.svg">
                                </button>
                                <input type="text" class="controle-contador" value="0" data-contador>
                                <button data-controle="+">
                                    <img src="../../../../assets/imagem/seta direita.svg">
                                </button>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="">Frontend</label>
                            <div>
                                <button data-controle="-">
                                    <img src="../../../../assets/imagem/seta esquerda.svg">
                                </button>
                                <input type="text" class="controle-contador" value="0" data-contador>
                                <button data-controle="+">
                                    <img src="../../../../assets/imagem/seta direita.svg">
                                </button>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <h4 class="skills-categoria">Comportamental</h4>
            </div>
            <div>
                <ul>
                    <li>
                        <div>
                            <label for="">Empreendedorismo</label>
                            <div>
                                <button data-controle="-">
                                    <img src="../../../../assets/imagem/seta esquerda.svg">
                                </button>
                                <input type="text" class="controle-contador" value="0" data-contador>
                                <button data-controle="+">
                                    <img src="../../../../assets/imagem/seta direita.svg">
                                </button>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>

            <div class="d-flex justify-content-center">
                <button type="button" class=" botao btn">
                    <img src="../../../../assets/imagem/setinha - projeto.svg">
                </button>
            </div>
        </div>
    </div>
</div>