<div class="competencias">
    <div class="row">
        <div class="col-sm-6" id="comp-fortes">
            <h3 for="" class="text-center comp-h3">Competências Fortes</h3>
            <div>
                <input type="text" class="comp-text">
            </div>
        </div>

        <div class="col-sm-6" id="comp-fracas">
            <h3 for="" class="text-center comp-h3">Competências Fracas</h3>
            <div>
                <input type="text" class="comp-text">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" id="especialidades">
            <h3 for="" class="text-center comp-h3">Especialidades</h3>
            <div>
                <input type="text" class="comp-text">
            </div>
        </div>

        <div class="col-sm-6" id="hobbies">
            <h3 for="" class="text-center comp-h3">Hobbies</h3>
            <div>
                <input type="text" class="comp-text">
            </div>
        </div>
    </div>