<div class="">
    
    <div>
        <label for="">Competências Fortes</label>
        <div>
            <input type="text">
        </div>
    </div>

    <div>
        <label for="">Competências Fracas</label>
        <div>
            <input type="text">
        </div>
    </div>

    <div>
        <label for="">Especialidades</label>
        <div>
            <input type="text">
        </div>
    </div>

    <div>
        <label for="">Hobbies</label>
        <div>
            <input type="text">
        </div>
    </div>
</div>
