.container-pag {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  @media (min-width: 768px) {
    .container-pag {
      display: grid;
      grid-template-columns: 300px 1fr 300px;
      grid-template-rows: auto 1fr auto;
      
  
    }
  }