<header>
    <nav class="nav-cor navbar">
        <div class="container-fluid">
            <p class="ff-silkscreen font-user">{{name}}</p>
            <button class="botao-menu navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <img src="../../../assets/imagem/menu-hamburguer.svg">
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="menu-header offcanvas-header">

                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>

                <div class="menu offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <img src="../../../assets/imagem/link inicio - projeto.svg">
                            <a class="nav-link  ff-silkscreen">Início</a>
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/imagem/link perfil - projeto.svg">
                            <a class="nav-link active ff-silkscreen">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/imagem/link config - projeto.svg">
                            <a class="nav-link ff-silkscreen">Configurações</a>
                        </li>
                        <li class="nav-item">
                            <img src="../../../assets/imagem/link sair - projeto.svg">
                            <a class="nav-link ff-silkscreen">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</header>
