.nav-cor {
    background: linear-gradient(90deg, #00B6FF 0%, #7ACE4D 91.26%);
}

.font-user {
    font-size: 43px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.botao-menu {
    border: none;
}

.menu-header,
.menu {
    background-color: #008C8C;
}
.start-60{
  left: 60%!important;
}
