.insignea {
    width: 100%;
    border-radius: 10px;
    background-color: #00B9FF;
}

.insignea-box {
    height: 100%;
    background-color:#00B9FF;
}

.insignea-titulo {
    background-color: #008DC2;
    border-radius: 10px 10px 0px 0px;
}

.insignea-img {
  margin: 0;
  padding: 20px;
}


.box-img {
  padding: 0;
  margin: 0;
}


.font-insignea {
    color: #ffffff;
}

.box-img {
    margin: auto;
    padding: 10px;
    background-color: #008DC2AB;
    height: 100%;
    border-radius: 10px
}



