<div class="insignea">
    <div>
        <div class="insignea-titulo">
            <h3 class="text-center">Insígneas</h3>
        </div>
        <div class="row insignea-img">
            <div class="col-6 col-sm-3 box-img">
                <img src="../../../../assets/imagem/insignia-imagem.svg">
            </div>

            <div class="col-6 col-sm-3 box-img">
                <img src="../../../../assets/imagem/insignia-imagem.svg">
            </div>

            <div class="col-6 col-sm-3 box-img">
                <!-- box -->
            </div>

            <div class="col-6 col-sm-3 box-img">
                <!-- box -->
            </div>

            <div class="col-6 col-sm-3 box-img">
                <!-- box -->
            </div>

            <div class="col-6 col-sm-3 box-img">
                <!-- box -->
            </div>

            <div class="col-6 col-sm-3 box-img">
                <!-- box -->
            </div>

            <div class="col-6 col-sm-3 box-img">
                <!-- box -->
            </div>

        </div>

        <button type="button" class="btn">
            <img src="../../../../assets/imagem/arrow-maior.svg">
        </button>
    </div>
</div>