<div class="">
    <div>
        <div>
            <label for="">Insígneas</label>
        </div>

        <div>
            <img src="../../../../assets/imagem/insignia-imagem.svg">
        </div>

        <div>
            <img src="../../../../assets/imagem/insignia-imagem.svg">
        </div>

        <div>
            <!-- box -->
        </div>

        <div>
            <!-- box -->
        </div>

        <div>
            <!-- box -->
        </div>

        <div>
            <!-- box -->
        </div>

        <div>
            <!-- box -->
        </div>

        <div>
            <!-- box -->
        </div>
        
        <button type="button" class="btn d-flex justify-content-center">
            <img src="../../../../assets/imagem/arrow-maior.svg">
        </button>
    </div>
</div>