<div class="insignea">
    <div class="insignea-box">
        <div class="insignea-titulo">
            <h3 class="text-center ff-silkscreen font-insignea">Insígnias</h3>
        </div>
        <div class="d-flex flex-row insignea-img">
            <div class="box-img">
                <img src="../../../../assets/imagem/insignia-imagem.svg">
            </div>

            <div class="box-img">
                <img src="../../../../assets/imagem/insignia-html.svg">
            </div>
        </div>
        <div class="d-flex flex-row insignea-img">
            <div class="box-img">
                <img src="../../../../assets/imagem/js-insignia.svg">
            </div>

            <div class="box-img">
                >>>>>>> master
                <img src="../../../../assets/imagem/insignia-imagem.svg">
            </div>
        </div>
        <div class="d-flex flex-row insignea-img">
            <div class="box-img">

                <img src="../../../../assets/imagem/js-insignia.svg">

            </div>

            <div class="box-img">
                <img src="../../../../assets/imagem/insignia-imagem.svg">
            </div>
        </div>
        <div class="d-flex flex-row insignea-img">
            <div class="box-img">
                <img src="../../../../assets/imagem/insignia-imagem.svg">
            </div>

            <div class="box-img">
                <img src="../../../../assets/imagem/insignia-imagem.svg">
            </div>
        </div>
        <div class="d-flex flex-row insignea-img">
            <div class="box-img">
                <img src="../../../../assets/imagem/insignia-imagem.svg">
            </div>

            <div class="box-img">
                <img src="../../../../assets/imagem/insignia-imagem.svg">
            </div>
        </div>


    </div>


    </div>


    <div class="d-flex justify-content-center">
        <button type="button" class="btn">
            <img src="../../../../assets/imagem/arrow-maior.svg">
        </button>


    </div>


</div>

</div>

</div>